# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.local
recruiter/new/
**/venv/
**/.env/
recruiter/new/
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
pip-log.txt

recruiter/new/
**/venv/
**/__pycache__/
*.pyc
*.so
*.dylib
*.egg-info
*.egg
*.egg-info
*.egg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
transcriptions.log

# Virtual Environment
recruiter/new/
venv/
ENV/
env/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# playground

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz


frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel
recruiter/__pycache__/

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts